<!DOCTYPE html>
<html>
<head>
  <title>Send Messages to Segment</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <h1>Segment CSV uploader</h1>
  <!-- Form for uploading a CSV file and entering a write key -->
  <form method="post" enctype="multipart/form-data" action="/send_messages">
    <input type="file" name="csv_file" accept=".csv" required>
    <br>
    <br>
    <label for="write_key">Write Key:</label>
    <br>
    <input type="text" name="write_key" required>
    <br>
    <br>
    <input type="submit" value="Send Messages">
  </form>

  <!-- Alert message with close button -->
  {% if alert %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {{ alert }}
    </div>
  {% endif %}
</body>
</html>